.individual-register {
  min-height: 100vh;
  background: url("/src/components/images/pujo_background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ir_register_label {
  background: linear-gradient(
    to top right,
    rgba(217, 71, 160, 0.35),
    rgba(37, 134, 253, 0.7)
  );
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.ir_img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
#irform_tool button {
  background: linear-gradient(-30deg, #db469f, #2188ff);
  color: white;
  position: relative;
  top: -34px;
  right: -53px;
  padding: 7px;
  outline: none;
}
.ir_form {
  width: 55%;
  margin: auto;
  border: 1px solid rgba(205, 205, 205, 0.5);
  border-radius: 15px;
  margin-top: 7%;
  box-shadow: 0px 0px 16px black;
  background-color: white;
}
#ir_form_head_logo {
  display: flex;
  justify-content: center;
  padding: 0.5% 0px 2% 0px;
  border-bottom: 3px solid #2687fd;
}
#ir_form_inside {
  width: fit-content;
  margin: auto;
}
#form_logo {
  width: 68px;
  padding: 7px 0px;
  display: block;
  margin: 0;
}
#r_explore_line {
  margin: 0;
  font-weight: 600;
}
#form_name {
  width: fit-content;
}
#form_logo_name {
  text-align: left;
  font-weight: 950;
  font-size: 40px;
  margin: 0;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(
    0deg,
    rgba(219, 70, 159, 1),
    rgba(33, 136, 255, 1)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#form_main {
  display: inline;
}
#form_fl_left {
  float: left;
  width: 60%;
}
#form_fl_right {
  float: right;
  width: 26%;
  margin-right: 8%;
}
#form_title {
  text-align: left;
  background: -webkit-linear-gradient(
    0deg,
    rgba(219, 70, 159, 1),
    rgba(33, 136, 255, 1)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}
.form_fname {
  width: 100%;
  padding: 6px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: none;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}
.form_fname > input:focus-visible {
  outline: none;
}
.form_femail {
  width: 100%;
  padding: 6px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: none;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}
.form_fabout {
  width: 100%;
  padding: 10px 15px;
  border-radius: 6px;
  resize: none;
  margin-bottom: 10px;
  border: none;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}
.form_fabout:focus {
  outline: none;
}
#form_div_fstate {
  border-radius: 6px;
  margin-bottom: 10px;
  width: 45%;
  float: left;
  box-shadow: 0px 0px 4.5px rgb(0 0 0 / 25%);
}
.form_fstate {
  width: 85%;
  margin: 6px 0px 6px 9px;
  border: none;
  background: transparent;
}
#form_div_fcity {
  border-radius: 6px;
  margin-bottom: 10px;
  width: 45%;
  float: right;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
}
.form_fcity {
  width: 85%;
  margin: 6px 0px 6px 9px;
  border: none;
  background: transparent;
}
.form_fcity:focus,
.form_fstate:focus {
  outline: none;
}
#ir_optional {
  color: rgba(0, 0, 0, 0.4) !important;
}
.form_faddress {
  width: 100%;
  padding: 6px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: none;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}
.form_fpin {
  width: 45%;
  padding: 6px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: none;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}
.form_fcontact {
  width: 47%;
  margin-left: 8%;
  padding: 6px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: none;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}
.form_fbutton {
  display: block;
  margin: auto;
  border: none;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  border-radius: 6px;
  width: 50%;
  font-size: 25px;
  background: linear-gradient(90deg, #db469f, #2188ff);
}
#pr_form_register {
  display: inline;
}
#pr_bold {
  float: left;
}
.pr_register__radiocontainer {
  display: grid;
  justify-content: space-between;
  width: fit-content;
  margin: auto;
}
.pr_form {
  width: 75%;
  margin: auto;
  border: 1px solid rgba(205, 205, 205, 0.5);
  border-radius: 15px;
  padding: 11px 10px;
  margin-top: 1%;
  background-color: white;
}
#ir_form_title {
  text-align: left;
  background: -webkit-linear-gradient(
    0deg,
    rgba(219, 70, 159, 1),
    rgba(33, 136, 255, 1)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}
.register__radiocontainer {
  display: flex;
  justify-content: space-between;
}

.individual-register-form {
  background-color: white;
  border-radius: 10px;
  padding: 4% 10px 10px 20px;
}
#irn_bold {
  width: 100%;
  color: rgba(0, 0, 0, 0.49);
}
#register__radiocontainer_span {
  color: rgba(0, 0, 0, 0.4);
}
#irn_button_form {
  width: 100%;
  height: fit-content;
  display: inline-block;
}
.Error {
  padding: 10px;
  background-color: #feeaea;
  border: 1px solid #fadadb;
  margin-bottom: 10px;
  border-radius: 3px;
}

.img-holder {
  border-radius: 50%;
  margin: auto;

  width: 150px;
  border: 3px;
  border-radius: 5px;
  margin-top: 2.5rem;
}
.pr_img-holder {
  border-radius: 50%;
  margin: auto;

  width: 150px;
  border: 3px;
  border-radius: 5px;
  margin-top: 3.2rem;
}

.img {
  border-radius: 8px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#input[type="file"] {
  display: none;
}

.image-upload {
  margin: auto;
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .user-registeration {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1200px) {
  .ir_form {
    width: 70% !important;
  }
}
@media only screen and (max-width: 1000px) {
  .ir_form {
    width: 85% !important;
  }
}
@media only screen and (max-width: 800px) {
  .ir_form {
    width: 100% !important;
  }
  #ir_form_title {
    text-align: center !important;
  }
  #form_fl_left {
    width: 100% !important;
  }
  #form_fl_right {
    width: 100% !important;
    margin-right: 0;
  }
  .img-holder {
    margin-top: 0rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .ir_form {
    width: 90% !important;
  }
}
@media only screen and (max-width: 400px) {
  .ir_form {
    width: 100% !important;
    margin-top: 0;
    border-radius: 0px;
  }
  #form_div_fstate {
    width: 100% !important;
  }
  #form_div_fcity {
    width: 100% !important;
  }
  .form_fpin {
    width: 100% !important;
  }
  .form_fcontact {
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 10px;
  }
}

.input-outline-disable:focus-visible {
  outline: none;
  background: #ffffffe5;
}
