.trending{
    padding: 10px 0px;
   
}

.trending-heading{
    font-weight: bold;
    padding: 10px 5px 10px 17px;
    background-color: white;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 1px rgba(26,26,26,0.25));
    text-transform: capitalize;
}

.trending-list{
    list-style-type: none;
    /* color: purple; */
    max-height: 110px;
    font-size: 16px;
    background-color: white;
    padding: 5px 5px 5px 10px;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 1px rgba(26,26,26,0.25));
}
.trending-list::-webkit-scrollbar{
    display: none;
}


@media only screen and (max-width: 900px){
    .trending{
        display: none;
    }
}
